<div class="p-3 border-round-sm bg-primary font-bold">
    <p-card>
        <a class="challenge-header" [href]="challenge?.descriptionUrl ?? ''" target="_blank">
            <p-header>{{challenge?.name}}</p-header>
          </a>
        <p-divider>
            <div class="inline-flex align-items-center">
                <b>Description</b>
            </div>
        </p-divider>
        <p>{{challenge?.description}}</p>
        <p-divider>
            <div class="inline-flex align-items-center">
                <b>Map</b>
            </div>
        </p-divider>
        <p>{{challenge?.map}}</p>
        <p-divider>
            <div class="inline-flex align-items-center">
                <b>Starts From</b>
            </div>
        </p-divider>
        <p>{{challenge?.start | date: 'YYYY-MM-dd'}}</p>
    </p-card>
</div>