<div class="grid">
    <div class="col-1">
        <button #btn type="button" id="button" pButton icon="pi pi-align-justify" (click)="menu.toggle($event)"></button>
        <p-tieredMenu #menu [model]="menuGhosts" [styleClass]="'menu-scroll'" [popup]="true"></p-tieredMenu>   
    </div>
    <div class="col-10">
        <div class="text-center">
            <p-selectButton [options]="evidenceOptions" [(ngModel)]="selectedEvidence" [multiple]="true" (onOptionClick)="onEvidenceSelection()"></p-selectButton>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12 md:col-6 lg:col-4" *ngFor="let ghost of selectedGhosts">
        <ghost [ghost]="ghost" />
    </div>
</div>