<div class="menu-container">
    <p-tabMenu 
      [model]="tabs" 
      [activeItem]="activeItem" 
      (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
</div>
<div *ngIf="activeItem?.id === 'ghosts'">
  <ghosts />
</div>
<div *ngIf="activeItem?.id === 'challenges'">
  <challenges />
</div>
