/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-dark-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.active {
    background: var(--primary-color)
}

.p-menu-list {
    overflow-y: scroll !important;
    max-height: 200px !important;
}


.menu-scroll {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Icons */
.gg-calendar-today {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 18px;
    height: 18px;
    border: 2px solid;
    border-top: 4px solid;
    border-radius: 3px
}

.gg-calendar-today::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    background: currentColor;
    height: 4px;
    width: 4px;
    border-radius: 2px;
    right: 2px;
    bottom: 2px
}

.gg-ghost-character {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 14px;
    height: 18px;
    border: 2px solid;
    border-bottom: 0;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    overflow: hidden;
    background:
        radial-gradient(circle, currentColor 60%,
            transparent 40%) no-repeat 2px 4px/2px 2px,
        radial-gradient(circle, currentColor 60%,
            transparent 40%) no-repeat 6px 4px/2px 2px
}

.gg-ghost-character::after,
.gg-ghost-character::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    bottom: -3px;
    transform: rotate(-45deg)
}

.gg-ghost-character::before {
    left: -1px
}

.gg-ghost-character::after {
    right: -1px
}