<div class="p-3 border-round-sm bg-primary font-bold">
    <p-card [header]="ghost?.name">
        <p-divider>
            <div class="inline-flex align-items-center">
                <b>Evidence</b>
            </div>
        </p-divider>
        <p>{{ghost?.evidence}}</p>
        <p-divider>
            <div class="inline-flex align-items-center">
                <b>Ghost Speed</b>
            </div>
        </p-divider>
        <p>{{ghost?.ghostSpeed}}</p>
        <p-divider>
            <div class="inline-flex align-items-center">
                <b>Hunt Threshold</b>
            </div>
        </p-divider>
        <p>{{ghost?.huntThreshold}}</p>
        <p-divider>
            <div class="inline-flex align-items-center">
                <b>Give Away</b>
            </div>
        </p-divider>
        <p>{{ghost?.giveAway}}</p>
        <p-divider>
            <div class="inline-flex align-items-center">
                <b>Excluder</b>
            </div>
        </p-divider>
        <p>{{ghost?.excluder}}</p>
        <p-divider>
            <div class="inline-flex align-items-center">
                <b>Hidden Ability</b>
            </div>
        </p-divider>
        <p>{{ghost?.hiddenAbility}}</p>
        <p-divider>
            <div class="inline-flex align-items-center">
                <b>Notes</b>
            </div>
        </p-divider>
        <p>{{ghost?.notes}}</p>
    </p-card>
</div>